# #代表注释
# 空格不匹配任何文件 可作为分隔符,可用反斜杠转移
# !不忽略某个文件
# / 放到前面代表根路径
# / 放到后面 匹配目录及以下目录 不匹配文件
# *,** 通配符
# ? 通用匹配单个字符
# [] 通用匹配单个字符列表
# 什么都没有就是当前目录文件
.DS_Store
.vscode
.idea
npm-debug.log
yarn-error.log
node_modules/
dist/